.DS_Store
/node_modules
/dist
/.env
/.vite
/.idea
.vscode
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage
*.local
*.swp
*.swo
*.sublime-workspace
*.sublime-project
*.code-workspace
*.tsbuildinfo
.DS_Store
Thumbs.db
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea/
dist/